certifi==2022.12.7
charset-normalizer==3.1.0
docopt==0.6.2
gunicorn==20.1.0
idna==3.4
mrcnn==0.2
pipreqs==0.4.13
requests==2.28.2
urllib3==1.26.15
yarg==0.1.9
numpy==1.16.3
pandas==0.24.2
opencv-python==4.1.0.25
scipy==1.2.1
tensorflow==1.13.1
keras==2.2.4
scikit-learn==0.21.1
scikit-image==0.16.2
matplotlib==3.0.3
pyntcloud==0.1.2
pythreejs==2.1.1
IPython
Flask==1.1.1
fuzzywuzzy==0.18.0
h5py==2.9.0

